body {
  min-height: 4096px;
  margin: 0;
  font-family: sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: transparent;
  transition: background-color 0.3s;
}
