html {
  width: 100%;
  height: 100%;
}

body {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: #f0f0f0;
}

#container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dropZone {
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba( 0, 0, 0, 0.7 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
}

.beingDragged {
 color: white;
  background-color: black;
}

.hoverOver {
  transition: 0.3s ease-out;
  border: solid 5px #2a9d8f;
}