body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.section {
    background-color: #88c1d0;
    min-width: 350px;
    height: 40vh;
    border: 2px solid white;
    box-sizing: border-box;
}
